<span>
  <span><i class="ri-user-3-fill"></i>本站访客数:<span id="busuanzi_value_site_uv"></span></s>
  <span class="division">|</span>
  <span><i class="ri-eye-fill"></i>本页访问量:<span id="busuanzi_value_page_pv"></span></span>
</span>